.topbar-style-one .topbar-ad {
    display: inline-block;
    line-height: 20px;
    padding: 13px 50px;
}

.destination-card-style-one .d-card-thumb img {
    width: 100%;
    -webkit-transition: all .4s;
    transition: all .4s;
    height: 205px;
    object-fit: cover;
}
